body{
    font-family: 'Open Sans', sans-serif;
}
.text_primary{
    color: orange;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bttn_primary{
    background-color: orange;
    border-radius: 5px;
    border-color: wheat;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.nav_title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav  li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: black;
}