body{
    font-family: 'Open Sans', sans-serif;
    
}
.text_primary{
    color: orange;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.bttn_primary{
    background-color: orange;
    border-radius: 5px;
    border-color: wheat;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.nav_title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav  li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: black;
}
.header{
    background-color: antiquewhite;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 400px;
}
.banner-greetings{
    font-size: 30px;
    color: rgb(44, 42, 42);
    margin-bottom: 0;
}
.banner-title{
    font-size: 55px;
    margin-top: auto;
}
.banner-description{
    font-style: normal;
}

main{
    text-align: center;
    margin: auto;
}
main section{
    margin: 130px;
}
.about{
    margin: 70px;
    padding: 130px;
    background-color: aliceblue;
}
.about-title{
    font-size: 30px;
}
.about-description{
    font-size: 17px;
    color: rgb(61, 57, 57);
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info-title{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.what-i-did{
    margin: 70px;
}
.what-i-do{
    margin-top: 130px;
    font-size: 30px;
}
#what{
    padding: 0px 180px 0px 180px;
    font-size: 20px;
}
.skill-container{
    display: flex;
    text-align: left;
    gap: 24px;
    padding-left: 120px;
    padding-right: 120px;
    justify-content: space-between;
    margin-top: 50px;
    
}
.skill{
    background-color: white;
    padding: 15px;
    box-shadow:0px 0px 24px 0px rgb(232, 225, 225);
}
.section-title{
    font-size: 30px;
}
.resume-container{
    display: flex;
    text-align: center;
    gap: 30px;
    padding: 80px;
}
.resume-title{
    text-align: left;
}
footer{
    background-color: blanchedalmond;
    padding: 130px 200px;
    display: flex;
    gap: 90px;
}
.contact-links{
    text-align: left;
    width: 50%;
}
.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: darkgrey;
    background-color: rgb(255, 255, 255);
    border: 0;
    width: 100%;
}
